/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
  --color-primary1: #0f162d;

  --color-box1: #373155;
  --color-box2: #2c3455;
  --color-box3: #274255;
  --color-box4: #3d413f;

  --color-seconcary1: #ffffff;
  --color-box-background: #272d42;
}
